streamlit
langchain-core
langchain-community
langchain-ollama
langchain-text-splitters
langgraph
duckduckgo-search
requests
chromadb
pypdf
fpdf2
pandas
protobuf<=3.20.3
json_repair
streamlit-autorefresh
